/* styles.css */
.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    flex-grow: 1;
  }
  
  .search-button {
    background-color: #007bff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  